.section-products {
  .categories {
    margin-bottom: 80px;
    ul {
      text-align: center;
    }
    li {
      display: inline-block;
      margin-bottom: 15px;

      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
    }
    .btn {

      margin: 0 8px;
      border-radius: 0;
      -webkit-border-radius: 0;
    }
  }
}
  .products-list {
    overflow: hidden;
    margin: 90px -15px 0;
    > li {
      float: left;
      width: 33.33%;
      padding: 0 15px;
      //margin-bottom: 94px;
      margin-bottom: 30px;
      &:nth-child(3n + 1) {
        clear: both;
      }
      @media all and (max-width: 991px) {
        width: 50%;
        &:nth-child(3n + 1) {
          clear: none;
        }
        &:nth-child(odd) {
          clear: both;
        }
      }
      @media all and (max-width: 640px) {
        width: 100%;
      }
    }
  }
      .product-wrap {
        > a {
          display: block;
          text-decoration: none;
          @media all and (min-width: 769px){
            &:hover,
            &:focus {
              .product-price,
              .product-title,
              .more-info-btn {
                color: $color-text2;
              }
              .product-img-wrap {
                img {
                  @include scale(1.1);
                }
              }
            }
          }
        }
      }
        .product-title {
          //max-height: 48px;
          margin-bottom: 24px;
          font-size: $size-smaller;
          line-height: 1.5;
          letter-spacing: .03em;
          color: $color-text11;
          text-transform: uppercase;
          @include transition($transition-other);
        }
        .product-box {
          overflow: hidden;
          border: 1px solid $light-blue;
          border-color: rgba($light-blue, .32);
          @include border-radius($radius-small);
          a {
            text-decoration: none;
          }
          a.view-more-btn,
          .view-more-btn {
            margin-top: 20px;
            margin-bottom: 20px;
            @include transition($transition-other);
          }
          .product-info-box + a.view-more-btn,
          .product-info-box + .view-more-btn {
            margin-top: 10px;
          }
        }
            .product-img-wrap {
              //padding-bottom: 81%;
              padding-bottom: 72%;
              @include border-radius($radius-small $radius-small 0 0);
            }
          .see-improvement-box {
            display: block;
            padding: 21px 29px 5px;
          }
            .see-improvement {
              display: inline-block;
              padding-bottom: 10px;
              font-size: $size-smaller;
              letter-spacing: .03em;
              text-transform: uppercase;
              border-bottom: 1px solid $color-text11;
              border-color: rgba($color-text11, .1);
              @include transition($transition-other);
            }
          .product-info-box {
            overflow: hidden;
            position: relative;
            min-height: 96px;
            padding: 20px 25px 0;
            opacity: .8;
            &.more {
              display: none;
              height: auto;
              padding-bottom: 12px;
              &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 25px;
                width: 90%;
                height: 1px;
                width: -webkit-calc(100% - #{50px});
                width: calc(100% - #{50px});
                background-color: $color-text11 ;
                background-color: rgba($color-text11, .1) ;
              }
            }
            @media all and (max-width: 767px) {
              padding-left: 20px;
              padding-right: 20px;
              &.more {
                &:before {
                  left: 20px;
                  width: -webkit-calc(100% - #{40px});
                  width: calc(100% - #{40px});
                }
              }
            }
          }

  .models-list {
    > li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
      .model-wrap {
        overflow: hidden;
        border: 1px solid #BEE0EF;
        @include border-radius($radius-small);
        .left-box,
        .right-box {
          float: left;
          width: 50%;
        }
        .left-box {
          width: -webkit-calc(0% + 454px);
          width: calc(0% + 454px);
          a {
            @media all and (min-width: 769px){
              &:hover,
              &:focus {
                .centered-img {
                  img {
                    @include scale(1.1);
                  }
                }
              }
            }
          }
        }
        .right-box {
          padding: 32px 38px;
          width: -webkit-calc(100% - 454px);
          width: calc(100% - 454px);
        }
        .model-img-wrap {
          padding-bottom: 93.5%;
          img {
            min-height: 100%;
            max-width: initial;
          }
        }
        .content {
          color: $color-text11;
          &.small * {
            margin-bottom: 0;
          }
        }
        @media all and (max-width: 1024px){
          .left-box {
            width: -webkit-calc(0% + 380px);
            width: calc(0% + 380px);
          }
          .right-box {
            padding: 26px 26px;
            width: -webkit-calc(100% - 380px);
            width: calc(100% - 380px);
          }
        }
        @media all and (max-width: 767px){
          max-width: 420px;
          margin: 0 auto;
          .left-box,
          .right-box {
            float: none;
            width: 100%;
          }
          .right-box {
            padding: 20px;
          }
        }
      }
      .model-box {
        max-width: 535px;
        a {
          text-decoration: none;
          @media all and (min-width: 769px){
            &:hover,
            &:focus {
              color: $light-blue;
            }
          }
        }
      }
        .model-title {
          margin-bottom: 10px;
          font-size: $size-big;
          line-height: 1.5;
          letter-spacing: $letter-spacing-20;
          @media all and (max-width: 1024px){
            font-size: 22px;
          }
          @media all and (max-width: 767px){
            font-size: 20px;
          }
        }
        .model-details {
          margin-bottom: 27px;
        }
          .model-info {
            display: inline-block;
            vertical-align: top;
            margin-right: 12px;
            font-size: $size-smaller;
            color: #818586;
            span {
              color: $light-blue;
            }
          }
          .model-inner-box {
            overflow: hidden;
            max-height: 250px;
            margin-bottom: 30px;
            padding-right: 30px;
            > :last-child {
              margin-bottom: 0;
            }
            @media all and (max-width: 1024px){
              max-height: 175px;
            }
          }
      .product-desc {
        padding: 20px 15px;
        .product-title,
        .product-price {
          display: block;
          margin-bottom: 7px;
          text-transform: none;
          font-size: $size-smaller;
          font-weight: $medium;
          line-height: $line-height-heading;
          text-align: center;
          color: $color-text;
        }
        .product-price {
          margin-bottom: 6px;
          color: $light-blue;
          @include transition($transition-other);
        }
        > :last-child {
          margin-bottom: 0;
        }
      }

//for Sub-category layout
.sub-category-desc {
  display: table;
  width: 100%;
  margin-bottom: 50px;
  & + .products-list {
    margin-top: 50px;
  }
  .left-box,
  .right-box {
    display: table-cell;
    width: 50%;
    padding: 0 15px;
    vertical-align: middle;
  }
  .left-box {
    padding: 30px 15px;
    width: 370px;
    border: 1px solid #BEE0EF;
    @include border-radius($radius-small);
  }
  .right-box {
    width: auto;
    padding: 0 0 0 30px;
    &:only-child {
      padding-left: 0;
    }
  }
    .sub-category-info {
      .list {
        text-align: center;
        margin: 0 -12px -20px;
        > li {
          display: inline-block;
          margin-bottom: 20px;
          //width: 32%;
          //width: -webkit-calc(33.33% - #{4px});
          //width: calc(33.33% - #{4px});
          padding: 0 12px;
          font-size: $size-smaller;
          font-family: $font-main;
          font-weight: $normal;
          line-height: $line-height-heading;
          color: #818586;
          vertical-align: top;
          span {
            display: block;
            //margin-bottom: 5px;
            font-size: $size-big;
            font-weight: $medium;
            color: $light-blue;
            //line-height: $line-height-heading;
          }
        }
      }
    }
  .content.small * {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 1024px){
    .left-box {
      width: 320px;
    }
  }
  @media all and (max-width: 767px){
    display: block;
    //max-width: 420px;
    margin: 0 auto 50px;
    .right-box,
    .left-box {
      display: block;
      width: 100%;
      padding: 0;
    }
    .left-box {
      margin-bottom: 30px;
      padding: 30px 15px;
    }
  }

}