#fourwh-model-relationships .inside {
    margin: 0;
    padding: 0;
}
#fourwh-model-relationships > .inside {
    overflow-x: auto;
}
#fourwh-model-relationships .inside > :first-child {
    border-top: none;
}
#fourwh-model-relationships .relationship-box {
    border-top: 1px solid #eeeeee;
}
    #fourwh-model-relationships .relationship-inner {
        display: table;
        width: 100%;
        height: auto;
    }
        #fourwh-model-relationships .relationship-label-box,
        #fourwh-model-relationships .relationship-input-box {
            display: table-cell;
            vertical-align: middle;
            padding: 15px 12px;
        }
        #fourwh-model-relationships .relationship-thumbnail-box {
            display: table-cell;
            width: 150px;
            vertical-align: middle;
            margin: 0;
            border: 1px solid #e2e4e7;
            border-bottom: none;
            border-top: none;
        }
        #fourwh-model-relationships .relationship-thumbnail-box img {
            display: block;
        }
        #fourwh-model-relationships .relationship-label-box {
            width: 20%;
            border-right: 1px solid #e1e1e1;
            background-color: #F9F9F9;
        }
            #fourwh-model-relationships .relationship-label-box label {
                cursor: pointer;
                display: block;
                font-weight: bold;
                margin: 0 0 3px;
                padding: 0;
            }
            #fourwh-model-relationships .relationship-label-box .description {
                display: block;
                font-size: 13px;
                font-style: italic;
                margin: 0;
                padding: 0;
            }
            #fourwh-model-relationships .relationship-radio-list {}
            #fourwh-model-relationships .relationship-radio-list > li {
                display: inline-block;
                margin-right: 20px;
                vertical-align: top;
            }
            #fourwh-model-relationships .relationship-radio-list > li:last-child {
                margin-right: 0;
            }

.fwc-accordion-wrap {
    padding: 5px 20px 20px;
}
    .fwc-accordion-wrap .accordion {
        box-sizing: border-box;
        color: inherit;
        font-weight: 600;
        outline: 0;
        padding: 15px 10px;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #e2e4e7;
        cursor: pointer;
    }

        .fwc-accordion-wrap .accordion h3 {
            position: relative;
            display: block;
            margin: 0;
            font-size: 14px;
        }
        .fwc-accordion-wrap .accordion h3:after {
            position: absolute;
            width: 20px;
            right: 0;
            border-radius: 50%;
            text-indent: -1px;
            content: "\f140";
            display: inline-block;
            font: normal 20px/1 dashicons;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-decoration: none!important;
            box-sizing: inherit;
            color: #72777c;
        }
        .fwc-accordion-wrap .accordion.active h3:after {
            content: '\f142';
        }
        .fwc-accordion-wrap .panel {
            display: none;
            border-bottom: 1px solid #e2e4e7;
        }
