.slider-plan {
  .gallery-top {
    margin-bottom: 60px;
    @media all and (max-width: 640px) {
      margin-top: 40px;
    }
    .swiper-slide {
      position: relative;
      background-color: #e2e4f0;
    }
  }
  .plan-thumbs-wrap {
    position: relative;
    .swiper-button-next, .swiper-button-prev {
      top: 36%;
    }
  }
  .gallery-thumbs {
    margin: 0 60px;
    .swiper-slide {
      text-align: center;
      opacity: .8;
      cursor: pointer;
      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }
    @media all and (max-width: 640px) {
      margin: 0 40px;
    }
  }

  .slide-title {
      font-size: $size-main;
      font-weight: $normal;
      line-height: 1.2;
      color: $color-text11;
      @media all and (max-width: 767px) {
        font-size: 14px;
      }
  }
  .swiper-main-img-box {
    text-align: center;
    img {
      display: block;
      min-width: 100%;
      width: auto;
      height: auto;
    }
  }
  .swiper-inner-images-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    @media all and (max-width: 767px) {
      padding: 5px;
    }
    img {
      display: inline-block;
      max-width: 130px;
      max-height: 65px;
      margin: 5px;
      vertical-align: middle;
      cursor: pointer;
      opacity: .6;
      &.active {
        opacity: 1;
      }
      @media all and (max-width: 767px) {
        max-width: 80px;
        max-height: 46px;
      }
    }
  }

    .slide-img-wrap {
      overflow: hidden;
      position: relative;
      width: 100%;
      padding-bottom: 71.5%;
      margin-bottom: 24px;
      @media all and (max-width: 767px) {
        margin-bottom: 14px;
      }
      img {
        position: absolute;
        z-index: 3;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        margin: auto;
        @include transform-origin();
        @include transition($transition-other);
      }
      &.wider {
        img {
          min-width: 100%;
          min-height: auto;
        }
      }
    }
}

//.slider-plan {
//  margin-bottom: 80px;
//
//  .swiper-container {
//    width: 100%;
//    margin-left: auto;
//    margin-right: auto;
//  }
//  .swiper-slide {
//    text-align: center;
//    background-size: cover;
//    background-position: center;
//  }
//  .gallery-top {
//    min-height: 445px;
//    width: 100%;
//    @media all and (max-width: 767px) {
//      min-height: 345px;
//    }
//    @media all and (max-width: 540px) {
//      min-height: 245px;
//    }
//    @media all and (max-width: 480px) {
//      min-height: 200px;
//    }
//  }
//  .gallery-thumbs {
//    .slide-img-wrap {
//      //&:after {
//      //  position: absolute;
//      //  z-index: 5;
//      //  content: '';
//      //  top: 0;
//      //  left: 0;
//      //  width: 100%;
//      //  height: 100%;
//      //  background-color: $black;
//      //  opacity: .4;
//      //  @include transition($transition-other);
//      //}
//    }
//    .swiper-slide {
//      opacity: .6;
//      cursor: pointer;
//      &.swiper-slide-thumb-active {
//        opacity: 1;
//        .slide-img-wrap {
//          //&:after {
//          //  opacity: 0;
//          //}
//        }
//      }
//    }
//  }
//
//  .gallery-thumbs .swiper-slide {
//    //width: 100% !important;
//    //max-width: 140px;
//    img {
//      max-width: 100%;
//      max-height: 100%;
//      height: auto;
//      width: auto;
//    }
//    //@media all and (max-width: 480px) {
//    //  max-width: 100px;
//    //}
//  }
//  .gallery-thumbs .swiper-slide-thumb-active {
//    //max-width: 170px;
//    //margin-top: -11px;
//    opacity: 1;
//    .slide-img-wrap {
//      margin-bottom: 12px;
//    }
//    @media all and (max-width: 480px) {
//      //max-width: 115px;
//      margin-top: -5px;
//    }
//  }
//  .slide-img-wrap {
//    overflow: hidden;
//    position: relative;
//    width: 100%;
//    padding-bottom: 71.5%;
//    margin-bottom: 24px;
//    //background-color: #e2e4f0;
//    img {
//      position: absolute;
//      z-index: 3;
//      min-height: 100%;
//      max-width: 100%;
//      max-height: 100%;
//      width: auto;
//      height: auto;
//      top: -9999px;
//      left: -9999px;
//      right: -9999px;
//      bottom: -9999px;
//      margin: auto;
//      @include transform-origin();
//      @include transition($transition-other);
//    }
//    &.wider {
//      img {
//        min-width: 100%;
//        min-height: auto;
//      }
//    }
//  }
//  .side-title-box {}
//    .slide-title {
//      font-size: $size-main;
//      font-weight: $normal;
//      line-height: 1.2;
//      color: $color-text11;
//    }
//}