.slider-video {
  position: relative;
  z-index: 10;
}

  .custom-nav-box {
    margin-top: 41px;
    text-align: center;
    @media all and (max-width: 540px) {
      margin-top: 20px;
    }
  }

  .swiper-custom-button-prev,
  .swiper-custom-button-next,
  .swiper-news-button-prev,
  .swiper-news-button-next {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 42px;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      content: '';
      @include transition($transition-other);
    }

    &:before {
      top: 50%;
      width: 50px;
      height: 3px;
      background-color: #4e4e4e;
      @include translate(0, -50%);
    }

    &:after {
      top: 50%;
      width: 18px;
      height: 18px;
      border: 3px solid #4e4e4e;
      @include css3-prefix('transform', 'translate(0, -50%) rotate(45deg)');
    }

    @media all and (min-width: 769px) {
      &:not(.swiper-button-disabled):hover,
      &:not(.swiper-button-disabled):focus {
        &:before {
          background-color: $color-bg2;
        }

        &:after {
          border-color: $color-bg2;
        }
      }
    }

    &.swiper-button-disabled {
      &:before {
        width: 24px;
      }

      &:before,
      &:after {
        opacity: .3;
      }
    }
  }

  .swiper-custom-button-prev,
  .swiper-news-button-prev {
    &:before {
      left: 2px;
    }

    &:after {
      left: 2px;
      border-right: none;
      border-top: none;
    }
  }

  .swiper-custom-button-next,
  .swiper-news-button-next {
    &:before {
      right: 2px;
    }

    &:after {
      right: 2px;
      border-left: none;
      border-bottom: none;
    }
  }
.swiper-video-title {
  margin-top: 10px;
  font-size: 24px;
  color: $color-text11;
  text-align: center;
  text-decoration: none;
}
