.section-hero.slider-hero {
  min-height: auto;
  padding: 0;
  &:before {
    .home & {
      content: none;
    }
  }
  .swiper-slide {
    overflow: hidden;
    position: relative;
    min-height: 640px;
    padding: 210px 0 104px;
    background-color: #969696;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:before {
      .home & {
        position: absolute;
        content: '';
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        @include background-gradient(bottom, $black);
        opacity: .8;
      }
    }
    .container {
      position: relative;
      z-index: 7;
    }
    //img {
    //  position: absolute;
    //  z-index: 3;
    //  min-height: 100%;
    //  min-width: 100%;
    //  max-width: initial;
    //  max-height: 100%;
    //  width: auto;
    //  height: auto;
    //  left: 50%;
    //  bottom: 0;
    //  margin: auto;
    //  @include transform-origin();
    //  @include transition($transition-other);
    //  @include translate(-50%, 0);
    //  .highest & {
    //    max-height: initial;
    //    max-width: 100%;
    //  }
    //}
    @media all and (max-width: 1024px) {
      padding-top: 140px;
      padding-bottom: 80px;
      min-height: 600px;
    }
    @media all and (max-width: 767px) {
      padding-top: 120px;
      min-height: 450px;
    }
    @media all and (max-width: 480px) {
      min-height: 380px;
    }
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: $white;
    opacity: .3;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      background-color: $light-blue;
      opacity: 1;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
  }

  .home & {
    min-height: auto;
    padding: 0;
    .swiper-slide {
      min-height: 950px;
      padding-top: 236px;
      @media all and (max-width: 1024px) {
        padding-top: 140px;
        padding-bottom: 80px;
        min-height: 600px;
      }
      @media all and (max-width: 767px) {
        padding-top: 120px;
        min-height: 450px;
      }
      @media all and (max-width: 480px) {
        min-height: 380px;
      }
    }
  }
  @media all and (max-width: 1024px) {}
}

.section.slider-hero.vertical-line:after {
  z-index: 5;
  height: 25px;
}


