.slider-virtual-tour {
  position: relative;
  max-width: 1030px;
  margin: 0 auto;
  .gallery-top {
    margin-bottom: 60px;
    .swiper-slide {
      overflow: hidden;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      width: 100%;
      @include bg();
      img {
        position: absolute;
        z-index: 3;
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        margin: auto;
      }
      iframe {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
      }
    }
  }
  .gallery-thumbs-wrap {
    position: relative;
    .swiper-button-next, .swiper-button-prev {
      top: 36%;
    }
  }
  .gallery-thumbs {
    margin: 0 60px;
    .slide-title {
      font-size: 16px;
      line-height: 1.2;
      text-align: center;
    }
    .swiper-slide {
      opacity: .6;
      cursor: pointer;
      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
}